!!! 5
%html
	%head
		%title "Google Advance Searching"
		= stylesheet_link_tag "application", :media => 'all'
		= javascript_include_tag "application"
		= csrf_meta_tags

	%body
		%h3 this should be the layout for the search page
		=yield